Repository shriproperty/client, pull requests merged in 2022-08, with the labels that each got.

#30 chore(github-templates): :memo: added new github pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: template

#51 ci(workflows) :memo: updated issue template, pull request template, sync label workflow
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/refactor-code.md
  .github/ISSUE_TEMPLATE/security-issue.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/sync-labels.yml
Labels: Extra Small, 🔍 Ready for Review, workflow, automerge, dependbot

#52 ci(workflow)::memo: updated auto merge depend Bot config
  .github/workflows/auto-merge-depend-bot.yml
Labels: Extra Small, 🔍 Ready for Review, workflow

#57 fix(auth): :bug: Add Close button on verify OTP model at forget password modal
  .vscode/settings.json
  src/pages/user/login/Login.tsx
Labels: :white_check_mark: Approved, :mag: Ready for Review

#58 :construction: feat(property): :lipstick: Automatic commas should be added in price
  .vscode/settings.json
  src/components/property/Property.tsx
  src/hooks/useCurrency.ts
  src/hooks/useFormatDate.ts
  src/pages/admin/user/User.tsx
  src/pages/user/property/Property.tsx
  src/styles/utils.scss
Labels: :construction: WIP
